<div *ngIf="!isLoggedIn()">
	<div *ngIf="existingUser">
		<app-login></app-login>
		<button class="btn btn-lg btn-primary btn-block" (click)="existingUser=false">Register Instead</button>
	</div>
	<div *ngIf="!existingUser">
		<app-register></app-register>
		<button class="btn btn-lg btn-primary btn-block" (click)="existingUser=true">Login Instead</button>
	</div>
</div>
<div *ngIf="isLoggedIn()">
	<ul *ngIf="posts">
		<li *ngFor="let post of posts">
			<app-post-details [post]="post"></app-post-details>
		</li>
	</ul>
	<button class="btn btn-lg btn-primary btn-block" type="button" (click)="logout();">Logout</button>
</div>
